[submodule "cloud-conf"]
	path = cloud-conf
	url = https://github.com/ukanwat/cloud-conf.git
[submodule "cloud-node"]
	path = cloud-node
	url = https://github.com/ukanwat/cloud-node.git
[submodule "cloud"]
	path = cloud
	url = https://github.com/ukanwat/cloud.git
